#Crawler Packages
pandas
ujson
boto3
bs4
botocore
langdetect
git+git://github.com/erroneousboat/warc3

#Clustering Packages
pandas
numpy
nltk
tqdm
wordcloud
gensim
matplotlib
kneed
pyLDAvis
yellowbrick
ujson
